<div id="signin-panel" class="signin">
    <input id="signin-email" type="email" placeholder="Email">
    <input id="signin-password" type="password" placeholder="Password">
    <input id="signin-button" type="button" value="Sign In">
</div>