.dump-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.dump-list-item {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-decoration: none;
    overflow: none;
}

.dump-image {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    width: 100%;
}

.dump-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 4px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100;
}

.dump-info-filler {
    flex: 1 0 0px;
}

.dump-info-item {}


.dump-list-item-create-new {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%
}