{{#if account}}
<div class="control-panel">
    <div class="dump-settings-item button">Remove Content</div>
</div>{{/if}}
<div class="dump-content">
    <img src="{{contentURL}}">
</div>
<div class="dump-content-description">
    <h3>Description:</h3>
    <p>{{contentDescription}}</p>
</div>