<div class="upload-listing">
    <div class="upload-listing-item">
        <div class="upload-listing-item-inner">
            <input id="upload-input" class="hidden" type="file" multiple="multiple">
            <input id="upload-input-button" type="button" value="Select Files">
            <div>or</div>
            <div>
                Drag over files
            </div>
        </div>
    </div>
</div>