<div class="upload-listing-item">
    <div class="upload-listing-item-remove clickable">X</div>
    <div class="upload-listing-item-preview">
    </div>
    <input type="text" class="upload-listing-item-filename" value="{{filename}}" placeholder="File Name">
    <textarea class="upload-listing-item-description"></textarea>
</div>