{{#if account}}
<div class="control-panel">
    <a href="{{url}}/add" class="dump-settings-item button">Add Content</a>
    <a href="{{url}}/settings" class="dump-settings-item button">Settings</a>
    <a href="{{url}}/permissions" class="dump-settings-item button">Permissions</a>
</div>{{/if}}
<div class="content-previews">
    {{#each contents}} {{/each}}
</div>
<input type="button" class="load-more clickable" value="Load More" data-amount="{{20}}" data-start="{{contents.length}}">