$background-color: #fff;

$header-background-color: #fff;
$header-color: black;

$text-background-color: white;
$text-color: black;

$primary-color: red;
$secondary-color: green;
$tertiary-color: blue;

html {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    margin: 0px;
    background-color: $background-color;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: $text-color;
}

.page {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    min-height: 100%;
}

.gutter {
    flex: 1 1 0px;
}

.content {
    background-color: rgba(255, 255, 255, 0.95);
    max-width: 1000px;
    flex: 1 1 1000px;
    display: flex;
    flex-direction: column;
    margin: 0px 32px;
}

.header {
    background-color: $header-background-color;
    color: $header-color;
    border-color: rgba(0, 0, 0, 0.05);
    border-bottom-style: solid;
    border-width: 1px;
    padding: 16px 0px
}

.header-title {
    font-size: 150%;
}

.navigation {
    padding: 2px 0px;
    border-color: rgba(0, 0, 0, 0.05);
    border-bottom-style: solid;
    border-width: 1px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.navigation-item {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 120%;
}

.navigation-item:hover,
.navigation-item.active {
    color: rgba(0, 0, 0, 1.0);
}

.page-title {
    padding-top: 16px;
    padding-bottom: 4px;
    border-color: rgba(0, 0, 0, 0.1);
    border-bottom-style: solid;
    border-width: 1px;
    font-size: 200%;
}

.view {
    position: relative;
    padding: 16px 0px;
    flex: 1 0 0px
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 16px 0px;
    border-color: rgba(0, 0, 0, 0.05);
    border-top-style: solid;
    border-width: 1px;
}

.footer div:not(:first-child) {
    padding-top: 8px;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-links-item {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.footer-links-item:hover,
.footer-links-item.active {
    color: rgba(0, 0, 0, 1.0);
}

.footer-links-item:not(:first-child) {
    padding-left: 24px
}

.footer-copyright {
    text-align: center;
}

input {
    margin: 4px;
    padding: 4px;
}

input[type="email"],
input[type="password"],
input[type="text"] {}

input[type="submit"],
input[type="button"] {
    border-radius: 4px;
    border-style: none;
    background-color: rgb(64, 128, 255);
    color: white;
}

//     @media (max-width: 50em) {
//     .header-title {
//         font-size: 350%;
//     }
//     .navigation {
//         flex-wrap: wrap;
//     }
//     .navigation-item {
//         font-size: 300%;
//     }
//     .footer-links {
//         flex-wrap: wrap;
//     }
//     .footer-links-item {
//         font-size: 250%;
//     }
//     .footer-copyright {
//         font-size: 200%;
//     }
// }